.container {
  position: relative;
  margin: auto 0;
}

.trigger {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.textLight {
  color: #ffffff;
}

.textDark {
  color: #000000;
}

.text {
  line-height: 1;
  font-size: 16px;
}

.chevron {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.chevron.open {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 12px 0 0 0;
  padding: 0;
  list-style: none;

  background: transparent;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu.menuOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menuItem {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.menuItem:hover {
  opacity: 1;
}
